.title:hover > .ranking_button {

	-webkit-animation: aRanks 1000ms ease-in 1 forwards;
	z-index: 3;
} 

.anim1:target .scores_teams > .match.left {
	/*-webkit-transform: scaleY(1);*/
	-webkit-animation: another 1.3s linear 1 forwards .0s;
}

.anim1:target .scores_teams > .match.right {
	/*-webkit-transform: scaleY(1);*/
	-webkit-animation: another 1.3s linear 1 forwards .0s;
}

.anim1:target .scores_teams {
	-webkit-animation: aScores .3s ease-out 1 forwards ;
}

.anim1:target .scores_teams + .scores_teams {
	-webkit-animation: aScores .3s ease-out 1 forwards .2s;
}

.anim1:target .scores_teams + .scores_teams + .scores_teams{
	-webkit-animation: aScores .3s ease-out 1 forwards .4s;
}

.anim1:target .scores_teams + .scores_teams + .scores_teams + .scores_teams{
	-webkit-animation: aScores .3s ease-out 1 forwards .5s;
}

@-webkit-keyframes another {

	0%{
		opacity: 0;
		-webkit-transform: translateY(24px);
	}		

	59%{
		opacity: 0;
	}

	60%{
		opacity: 1;
		-webkit-transform: translateY(24px);
	}

	70% {
		-webkit-transform: translateY(-19px);
	}

	78% {
		-webkit-transform: translateY(-14px);	
	}

	88% {
		-webkit-transform: translateY(-17px);	
	}

	100% {
		-webkit-transform: translateY(-16px);	
	}

}

@-webkit-keyframes aScores {

	0% {
		-webkit-transform: scaleY(0);
	}

	100% {
		-webkit-transform: scaleY(1);
	}

}